.mid-container{
  width: 1600px;
  margin: 0 auto;
  // min-height: 1000px;
  // margin: 10px 10px;
}

.layout-container{
  display: flex;
  position: relative;
  // justify-content: space-around;
  // width: 1300px;
}

.index-map{
  flex: 1 0 450px;
  height: 80vh;
  position: sticky !important;
  top: 0 !important;
  margin-left: 20px;
  margin-top:0px;
}


.form-control{
  margin-bottom: 20px;
}
