
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url('https://images.unsplash.com/photo-1548405482-84b7c7807875?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80')">
    <div class="banner-content-home">
      <h1>AirTours</h1>
      <br><br><br><br><br><br><br>
      <p>Discover a new city</p>
      <a class="btn-ghost" href='<%= tours_path%>'>Start now</a>

  </div>
</div>

