.banner-home {
  color: white;
  text-align: center;
  height: 85vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content-home h1 {
  font-size: 101px;
  font-weight: bold;
  font-family: 'Roboto';
  letter-spacing: 10px;
  text-shadow: 5px 1px rgba(0, 0, 0, 0.2);
  color: rgba(255,255,255,0.8)
}
.banner-content-home p {
  font-size: 50px;
  font-weight: lighter;
  color: rgba(220, 220, 220, 0.9);
  margin-bottom: 30px;
}
