#myTab{
  margin-top: 25px;
}

.nav-tabs > li > a{
 padding: 20px 100px;
 color: #5C2018;
 background-color: lightgrey;
}

.nav-tabs > li > a.active{
 background-color: grey;
 color: white;
}

.nav-tabs > li.active > a{
  background-color: grey;
  color: white;
}
