#myTab{
  margin-top: 25px;
}

.nav-tabs > li > a{
 padding: 20px 100px;
 color: #5C2018;
 background-color: #F3E0DC
}

.nav-tabs > li > a.active{
 background-color: #5C2018;
 color: white;
}

.nav-tabs > li.active > a{
  background-color: #5C2018;
  color: white;
}
