

var newReview = '<p><%= @review.content %></p>'


var reviews = document.querySelector('.reviews')

reviews.insertAdjacentHTML('afterbegin', newReview)

var inputBox = document.querySelector('review_content')

inputBox.value = ""
